---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Greg, a back-end sofware engineer with 7+ years of experience. I have experience in fintech, e-commerce and SaaS industries.
        <br />
        My preffered set of tools and technologies include:
      </p>
      <ul class="list-disc list-inside">
        <li>Golang</li>
        <li>Java/Spring</li>
        <li>Python</li>
        <li>Docker</li>
        <li>Kubernetes</li>
        <li>Terraform</li>
        <li>AWS</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about biking, running, woodworking and traveling. I'm also a huge hockey fan. Go Oilers!
    </p>
  </div>
</Card>
